<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>


    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>

    <title>Shop Item - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"></link>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/shop-item.css}" rel="stylesheet"></link>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item " sec:authorize="isAnonymous()"><a class="nav-link" th:href="@{/login}">Login</a></li>
            <li class="nav-item " sec:authorize="isAnonymous()"><a class="nav-link"  th:href="@{/}">Register</a></li>
            <li class="nav-item " sec:authorize="isAuthenticated()" style="color:white">Hi, <span sec:authentication="name"></span></li>
            <li class="nav-item " sec:authorize="isAuthenticated()">
              <form th:action="@{/logout}" method="POST" id="logout-form"  style="display: inline-block">
                <input type="submit" class="btn-link" style="color:white" value="Log out"/>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container mt-5 mb-5" id="content" layout:fragment="content">



    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="bg-dark footer">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/popper/popper.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

  </body>

</html>
